<div class="tags">
    <ul>
    <%= render @tags %>
    </ul>

    <%= simple_form_for @tag do |f| %>
        <%= f.input :content, label: '#', autofocus: true %>
        <%= f.submit "hash" %>
    <% end %>
</div>