.logo {
    overflow: hidden;
    white-space: nowrap;
    span{
        font-size: 130px;
        font-weight: bold;
        line-height: 1;
    }

    .red {
        color: $red;
    }

    .yellow {
        color: $yellow;
    }

    .green {
        color: $green;
    }

    .blue {
        color: $blue;
    }

    .purple {
        color: $purple;
    }


}